services:
  login:
    build: .
    hostname: login
    mem_limit: {{ login_mem_limit }}G
    mem_reservation: {{ login_mem_limit }}G
    networks:
      - compute
    ports:
      - "6322:22"
    volumes:
      - home:/home

{% for i in range(1, num_compute_nodes + 1) %}
  c{{ "%03d"|format(i) }}:
    build: .
    hostname: c{{ "%03d"|format(i) }}
    networks:
      - compute
    expose:
      - 22
    volumes:
      - home:/home
{% endfor %}

volumes:
  etc_munge:
  etc_slurm:
  home:
{% for i in range(1, num_compute_nodes + 1) %}
  c{{ "%03d"|format(i) }}_slurmd_state:
{% endfor %}
  slurmctld_state:
  slurmdbd_state:

networks:
  compute: 